<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="josealencar.com.br.meuspilas" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".EntryMainActivity"
            android:label="@string/title_activity_entry_main" >
        </activity>
        <activity
            android:name=".NewAccountActivity"
            android:label="@string/title_activity_new_account"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BalanceActivity"
            android:label="@string/title_activity_balance"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".IncomesActivity"
            android:label="@string/title_activity_incomes"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".OutcomesActivity"
            android:label="@string/title_activity_outcomes"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
